# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/

# Model cache
.cache/

# OS
.DS_Store
Thumbs.db

data/candidates.jsonl